<% include ./head %>
<style>
  .entry:not(:first-of-type)
  {
      margin-top: 10px;
  }
</style>
<div id="add_event" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Event</h4>
      </div>
      <div class="modal-body">
        <form action="/events/add_event" method="post" enctype="multipart/form-data" id="add_event_form">
        <input type="hidden" name="add_from_admin" value="1">
        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <select class="form-control" name="business_id" id="change_business">
                                                     <option value="">Select Business User</option>
                                                     <% users.forEach(function(user) { %>
                                                    <option value="<%= user._id %>"><%= user.first_name %></option>
                                                    <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <select class="form-control" name="venue_id" id="venue_info">
                                                    <option value="">Select Venue</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
        <div class="row">
            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Name </label>
                                                   <input type="text" class="form-control" name="name" id="event_name" value="">
                                                </div>
                                            </div>
                        <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Dress Code</label>
                                                   <input type="text" class="form-control" name="dress_code" id="dress_code" value="">
                                                </div>
                                            </div>           
                                                  
        </div>
               
                                         <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Start Date</label>
                                                   <input type="text" class="datepicker form-control" name="start_date" id="start_date" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">End Date</label>
                                                    <input type="text" class="datepicker form-control" id="end_date" name="end_date" value="">
                                                </div>
                                            </div>
                                           <div class="col-md-4">
                                               <div class="form-group label-floating">
                                                    <label class="control-label">Event Image</label>
                                                    <input type="file" name="event_image" accept="image/*">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                    <label class="control-label">Details</label>
                                                    <textarea rows="4" class="form-control" name="details" cols="50"></textarea> 
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <select class="form-control" name="category" id="change_category">
                                                     <option value="">Select Category</option>
                                                     <% categories.forEach(function(category) { %>
                                                    <option value="<%= category.title %>"><%= category.title %></option>
                                                    <% }); %>
                                                    </select>
                                                </div>
                                            </div>  
                                        </div>
            <button type="submit" class="btn btn-primary pull-left" id="form_submit">Save Event</button>                                
        </form>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                    <%if (added) { %>
<h2 class="well abcd" style="text-align: center;"><div class="alert alert-success">
                            <button type="button" style="background: transparent;float: right;" class="closes" data-dismiss="alert" onclick="jQuery('.abcd').css('display', 'none');">&times;</button>
                            Event Added Successfully.
                        </div></h2>
<% } %>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Events</h4>
                                    <p class="category"><form action="/admin/delete_all_events" method="get"><button type="submit" class="btn btn-danger btn-sm">Delete All</button></form></p>
                                    <div style="float:right;margin-top: -80px;"><button type="submit" data-toggle="modal" data-target="#add_event" class="btn btn-info btn-lg">Add Event</button></div>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover" id="event_data">
                                        <thead class="text-primary">
                                            <th>Buisness Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Offer Value</th>
                                            <th>Bookings</th>
                                            <th>Checkins</th>
                                            <th>Views</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </thead>
                                        <tbody>
                                        <% events.forEach(function(events) { %>
                                            <tr>
                                            <td><%= events.name %></td>
                                                <td><%= events.start_date %></td>
                                                <td><%= events.end_date %></td>
                                                <td><%= events.offer_value %></td>
                                                 <td><%= events.reservation_count %></td>
                                                <td><%= events.checkins_count %></td>
                                                <td><%= events.views %></td>
                                                <td><select class="san_status selectpicker" data-id="<%= events._id %>">
                                                <option <%if (events.status == 'AVAILABLE SOON') { %> selected="selected" <% } %> value="AVAILABLE SOON">AVAILABLE SOON</option>
                                                  <option <%if (events.status == 'AVAILABLE') { %> selected="selected" <% } %> value="AVAILABLE">AVAILABLE</option>
                                                  <option <%if (events.status == 'NOT AVAILABLE') { %> selected="selected" <% } %> value="NOT AVAILABLE">NOT AVAILABLE</option>
                                                  <option <%if (events.status == 'SOLD OUT') { %> selected="selected" <% } %> value="SOLD OUT">SOLD OUT</option>
                                                </select></td>
                                                <td> 
                                                <form action="/admin/delete_event" method="post">
                                                    <input type="hidden" name="event_id" value="<%= events._id %>">
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>

                                                    <a class="btn san_show_details btn-info btn-sm" data-toggle="modal" target="_blank" href="/admin/event_detail?event_id=<%= events._id %>">View Detail</a>
                                                    </form>               <button type="button" data-id="<%= events.booking_model_ids %>san@#<%= events.checkins_model_ids %>" class="btn san_show_detail btn-info btn-sm" data-toggle="modal" data-target="#<%= events._id %>">View Bookings</button>
                                                    </td>
                                            </tr>

                                            <div id="<%= events._id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View Bookings</h4>
      </div>
      <div class="modal-body">
        <div class="row">
             <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-content table-responsive">
                        <div class="col-xs-6">
                        <label>Bookings</label>
                             <ul class="list-group" id="san_listss">
</ul> 
                        </div>
                        <div class="col-xs-6">
                        <label>Checkins</label>
 <ul class="list-group" id = "san_listsss">
  
</ul> 
                        </div>
                    </div>
                </div>
             </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="edit<%= events._id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <div class="modal-body">
        <form action="/admin/edit_booking?type=event" method="post">
        <input type="hidden" name="event_id" value="<%= events._id %>">
               <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Enter Day Limit</label>
                                                    <input type="text" class="form-control" name="day_limit" value="<%= events.day_limit %>">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Enter Week Limit</label>
                                                    <input type="text" class="form-control" name="week_limit" value="<%= events.week_limit %>">
                                                </div>
                                            </div>
                                           
                                        </div>
            <button type="submit" class="btn btn-primary pull-left">Update Event</button>                                
        </form>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                                           <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <% include ./footer %>
<script>
  $(document).ready(function() {
  $('#event_data').DataTable( {
      "lengthMenu": [6, 10, 25, 50, 100],
      "pageLength": 6
    } );
  $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    $( ".san_status" ).on( "change", function() {
      $.ajax({
            type:'POST',
            url:'http://work4brands.com:4200/admin/changeStatus',
            data: { event_id:$(this).data('id'), status:$(this).val() },
            dataType:'json'
        }).done(function(data){
            console.log(data);
        }).fail(function(jqXHR,textStatus, err){
            console.log(textStatus);
        });
    });

    $( ".san_show_detail" ).on( "click", function() {
    $('ul#san_listss').empty();
    var idsss = $(this).data('id').split('san@#');
      $.ajax({
            type:'POST',
            url:'http://work4brands.com:2200/admin/get_models',
            data: { booking_model_ids:idsss[0],checkins_model_ids:idsss[1]},
            dataType:'json'
        }).done(function(data){
         var bookings_items = '';
         var checkins_items = '';
         $.each(data.bookings, function(i, item) {
                bookings_items = bookings_items+'<li class="list-group-item"><a href="http://work4brands.com:2200/admin/model_detail?model_id=' + item._id + '" target="_blank">' + item.first_name + '</a></li>';
         }); 
         $.each(data.checkins, function(i, item) {
                checkins_items = checkins_items+'<li class="list-group-item"><a href="http://work4brands.com:2200/admin/model_detail?model_id=' + item._id + '" target="_blank">' + item.first_name + '</a></li>';
         }); 
         if(bookings_items){
            $('ul#san_listss').append(bookings_items);
         }else if(data == 'err'){
            $('ul#san_listss').append('No Bookings!');
         }
         if(checkins_items){
            $('ul#san_listsss').append(checkins_items);
         }else if(data == 'err'){
            $('ul#san_listsss').append('No Checkins!');
         }
        }).fail(function(jqXHR,textStatus, err){
            console.log(textStatus);
            $('ul#san_listss').append('No Bookings!');
            $('ul#san_listsss').append('No Checkins!');
        });
    });
  });

  $(function()
  {
      $(document).on('click', '.btn-add', function(e)
      {  
          e.preventDefault();

          var controlForm = $('.controls .formmm:first'),
              currentEntry = $(this).parents('.entry:first'),
              newEntry = $(currentEntry.clone()).appendTo(controlForm);

          newEntry.find('input').val('');
          controlForm.find('.entry:not(:last) .btn-add')
              .removeClass('btn-add').addClass('btn-remove')
              .removeClass('btn-success').addClass('btn-danger')
              .html('<span class="glyphicon glyphicon-minus"></span>');
      }).on('click', '.btn-remove', function(e)
      {
      $(this).parents('.entry:first').remove();

      e.preventDefault();
      return false;
    });

    $( "#change_business" ).on( "change", function(e) {
    e.preventDefault();
      $.ajax({
            type:'GET',
            url:'http://work4brands.com:4200/events/venues',
            data: { business_id:$(this).val()},
            dataType:'json'
        }).done(function(data){
        var html = '<option value="">Select Venues</option>';
        $.each(data, function( index, value ) {
          html = html+'<option value="'+value._id+'">'+value.venue_name+'</option>';
        });
        $("#venue_info").html(html);
            console.log(data);
        }).fail(function(jqXHR,textStatus, err){
            console.log(textStatus);
        });
    });
    $( "#venue_info" ).on( "change", function(e) {
        var venue_name = $(this).find("option:selected").text(); 
        var el = '<input type="hidden" id="venue_name" class="venue_name" name="name" value="'+venue_name+'"></input>';
        if($('#venue_name').hasClass('venue_name')){
            $('#venue_name').val(venue_name);
        }else{
          $('form#add_event_form').append(el);
        }
    });
    var mandatory = ['event_name','dress_code','change_business','venue_info','change_category'];
    $(document).on('submit','form#add_event_form',function(){
        var err = 0
        $.each(mandatory, function( index, value ) {
          if(!$('#'+value).val()){
            err = 1;
          }
        });
        if(err ==0){
          return true;
        }else{
         alert('Some Fields Missing');
         return false;
        }
    });
  });
</script>